<div class="change-password-dialog">
  <div class="dialog-header">
    <span class="title">Change Password</span>
    <button class="close-dialog" (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="divider"></div>
  <form [formGroup]="form" (ngSubmit)="changePassword()">
    <div class="form-group">
      <label>Current Password <span class="required">*</span></label>
      <div class="input-wrapper">
        <input
          [type]="hideCurrent ? 'password' : 'text'"
          formControlName="currentPassword"
          placeholder="Current Password"
        />
        <button type="button" class="toggle-visibility" (click)="hideCurrent=!hideCurrent" tabindex="-1">
          <mat-icon>{{ hideCurrent ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </div>
    </div>
    <div class="form-group">
      <label>New Password <span class="required">*</span></label>
      <div class="input-wrapper">
        <input
          [type]="hideNew ? 'password' : 'text'"
          formControlName="newPassword"
          placeholder="New Password"
        />
        <button type="button" class="toggle-visibility" (click)="hideNew=!hideNew" tabindex="-1">
          <mat-icon>{{ hideNew ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </div>
      <div class="hint">
        Minimum length 8 Character, Add atleast one uppercase letter, number & special character
      </div>
    </div>
    <div class="form-group">
      <label>New Confirm Password <span class="required">*</span></label>
      <div class="input-wrapper">
        <input
          [type]="hideConfirm ? 'password' : 'text'"
          formControlName="confirmPassword"
          placeholder="Confirm Password"
        />
        <button type="button" class="toggle-visibility" (click)="hideConfirm=!hideConfirm" tabindex="-1">
          <mat-icon>{{ hideConfirm ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </div>
    </div>
    <button class="change-btn" type="submit">
      Change Password
    </button>
  </form>
</div>