  <div class="main-content">
    <div class="products-list-header">
      <div>
        <div class="products-list-title">Service List</div>
        <div class="products-list-sub">Manage your Service</div>
      </div>
      <button
        class="add-product-btn"
        type="button"
        (click)="onAddProduct()"
      >
        <span class="add-product-icon-circle">
          <mat-icon class="add-product-plus">add</mat-icon>
        </span>
        Add New
      </button>
    </div>

    <div class="offcanvas offcanvas-end add-product-offcanvas"
         tabindex="-1"
         id="addProductOffcanvas"
         aria-labelledby="addProductOffcanvasLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="addProductOffcanvasLabel">{{ formHeading }}</h5>
        <button type="button" class="btn-close text-reset"
                data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
      </div>
    </div>

    <app-common-table-card
      [tabs]="tabs"
      [activeTab]="activeTab"
      [searchFields]="searchFields"
      [columns]="columns"
      [data]="filteredData"
      [total]="filteredData.length"
      [page]="page"
      [callbtn]="false"
      [pageSize]="pageSize"
      [pageSizeOptions]="[10, 20, 50]"
      (tabChange)="onTabChange($event)"
      (search)="onSearch($event)"
      (clear)="onClear()"
      (edit)="onEdit($event)"
      (view)="onView($event)"
      (delete)="onDelete($event)"
      (toggle)="onToggle($event)"
      (pageChange)="onPageChange($event)"
    ></app-common-table-card>
  </div>