<app-header></app-header>
<div class="main-layout">
  <app-sidebar></app-sidebar>
  <div class="main-content">
  
  <div class="main-content">
    <div class="products-list-header">
      <div>
        <div class="products-list-title">Service Voucher List</div>
        <div class="products-list-sub">Manage your Service</div>
      </div>
      <button
        class="add-product-btn"
        type="button"
        (click)="onAddProduct()"
        *ngIf="canCreate"
      >
        <span class="add-product-icon-circle">
          <mat-icon class="add-product-plus">add</mat-icon>
        </span>
        Add New
      </button>
    </div>

    <div class="offcanvas offcanvas-end add-product-offcanvas"
         tabindex="-1"
         id="addProductOffcanvas"
         aria-labelledby="addProductOffcanvasLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="addProductOffcanvasLabel">{{ formHeading }}</h5>
        <button type="button" class="btn-close text-reset"
                data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
      </div>
    </div>

    <app-common-table-card
      [activeTab]="activeTab"
      [searchFields]="searchFields"
      [columns]="columns"
      [showToggle]="false"
      [callbtn]="true"
      [data]="filteredData"
      (call)="onCall($event)"
      [total]="total"
      [page]="page"
      [pageSize]="pageSize"
      (tabChange)="onTabChange($event)"
      (search)="onSearch($event)"
      (clear)="onClear()"
      (edit)="onEdit($event)"
      (view)="onView($event)"
      (delete)="onDelete($event)"
      (pageChange)="onPageChange($event)"
      (sort)="onSort($event)"
  [enableSorting]="true"
  [canEdit]="canEdit"
  [canView]="canView"
  [canDelete]="canDelete" 
    ></app-common-table-card>
  </div>
  <div class="offcanvas offcanvas-end" tabindex="-1" id="serviceCallOffcanvas" aria-labelledby="serviceCallOffcanvasLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="serviceCallOffcanvasLabel">Service Call</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <app-servicecallform
            [check]="false"
            [mode]="'add'"
            [voucherid]="idval"
            (updateNeeded)="onServiceCallAdded()"
          ></app-servicecallform>
</div>
  </div>
</div>